<%= form_for(@project, :html => {:multipart => true}) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="profile span4 offset4" >
    <%= f.label :project_title %><br />
    <%= f.text_field :project_title %>
  </div>
<br>
  <div class="profile span4 offset4" >
    <%= f.label :project_summary %><br />
    <%= f.text_area :project_summary %>
  </div>
  <div class="profile span4 offset4" >
    <%= f.label :project_detail %><br />
    <%= f.text_area :project_detail %>
  </div>
  <div class="profile span4 offset4" >
    <%= f.label :avatar %><br />
	<p><%= f.file_field :avatar %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>