<h1>Listing projects</h1>
<div class ="container">

<% @projects.each do |project| %>

<p id="notice"><%= notice %></p>
		<div class="row">
			<br>
	    <div class="profile span3 offset2" width= "170" height= "200" >
	       	<%= image_tag @project.project_pic_small.url %>	     
	    </div>
		<div class="profile span6" width= "500" height= "200" >
			<%= raw simple_format(project.project_summary) %>  
			<br>
			<%= link_to 'See Project Details', project %>	
	    </div>		  
	</div>
  <tr>
    <td></td><br>
    <td><%= link_to 'Edit', edit_project_path(project) %></td><br>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td><br>
  </tr>
<% end %>
<%= link_to 'New Project', new_project_path %>
</div>
