<p id="notice"><%= notice %></p>

<div class ="container">
		<div class="row">
			<br>
			<br>
	    <div class="profile span4 offset2" width= "250" height= "500"  >
	      <%= image_tag @project.project_pic_large.url %>	     
	    </div>
		
		<div class="profile span6" width= "350" height= "500">
	      <%=raw simple_format(@project.project_detail) %>	     
	    </div>
		  
	</div>
	</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
