<p id="notice"><%= notice %></p>

<p>
  <b>Employer:</b>
  <%= @experience.employer %>
</p>

<p>
  <b>Employer city:</b>
  <%= @experience.employer_city %>
</p>

<p>
  <b>Employer state:</b>
  <%= @experience.employer_state %>
</p>

<p>
  <b>Job title:</b>
  <%= @experience.job_title %>
</p>

<p>
  <b>Employed from:</b>
  <%= @experience.employed_from %>
</p>

<p>
  <b>Employed to:</b>
  <%= @experience.employed_to %>
</p>

<p>
  <b>Job description one:</b>
  <%= @experience.job_description_one %>
</p>

<p>
  <b>Job description two:</b>
  <%= @experience.job_description_two %>
</p>

<p>
  <b>Job description three:</b>
  <%= @experience.job_description_three %>
</p>

<p>
  <b>Job description four:</b>
  <%= @experience.job_description_four %>
</p>

<p>
  <b>Job description five:</b>
  <%= @experience.job_description_five %>
</p>

<p>
  <b>Job description six:</b>
  <%= @experience.job_description_six %>
</p>

<p>
  <b>Job description seven:</b>
  <%= @experience.job_description_seven %>
</p>

<p>
  <b>Job description eight:</b>
  <%= @experience.job_description_eight %>
</p>


<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
