<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="profile span4 offset4" >
    <%= f.label :goal_header %><br />
    <%= f.text_field :goal_header %>
  </div>
<br>
  <div class="profile span4 offset4" >
    <%= f.label :goal %><br />
    <%= f.text_area :goal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>