
		<div class ="container">
			<br>
			<br>
			<% @goals.each do |goal| %>
			<div class= "row">				
			<div class="span9 offset3" >
		    
	   	  		<h1><%= goal.goal_header %></h1>
					<table>
					<tr>
		    			<td><%= link_to 'Show', goal %></td>
		    			<td><%= link_to 'Edit', edit_goal_path(goal) %></td>
		    			<td><%= link_to 'Destroy', goal, confirm: 'Are you sure?', :method => 'destroy' %></td>
		  			</tr>
					</table>		
	    	</div>
			</div>
			<div class= "row">
			
			<div class= "span9 offset3">
				<h3><%= raw simple_format(goal.goal) %></h3>
			</div>
			</div>
		<br>
		<br> 
<% end %>
<div class= "profile span6 offset4">
<%= link_to 'New Goal', new_goal_path %>
</div>
</div>
