<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @resume.name %>
</p>

<p>
  <b>Masters school:</b>
  <%= @resume.masters_school %>
</p>

<p>
  <b>Masters degree:</b>
  <%= @resume.masters_degree %>
</p>

<p>
  <b>Masters graduation date:</b>
  <%= @resume.masters_graduation_date %>
</p>

<p>
  <b>Masters gpa:</b>
  <%= @resume.masters_GPA %>
</p>

<p>
  <b>Undergrad school:</b>
  <%= @resume.undergrad_school %>
</p>

<p>
  <b>Undergrad degree:</b>
  <%= @resume.undergrad_degree %>
</p>

<p>
  <b>Undergrad graduation date:</b>
  <%= @resume.undergrad_graduation_date %>
</p>

<p>
  <b>Undergrad gpa:</b>
  <%= @resume.undergrad_GPA %>
</p>

<p>
  <b>School three:</b>
  <%= @resume.school_three %>
</p>

<p>
  <b>School four:</b>
  <%= @resume.school_four %>
</p>

<p>
  <b>Degree three:</b>
  <%= @resume.degree_three %>
</p>

<p>
  <b>Degree four:</b>
  <%= @resume.degree_four %>
</p>

<p>
  <b>Phone:</b>
  <%= @resume.phone %>
</p>

<p>
  <b>Phone two:</b>
  <%= @resume.phone_two %>
</p>

<p>
  <b>Email:</b>
  <%= @resume.email %>
</p>

<p>
  <b>Email two:</b>
  <%= @resume.email_two %>
</p>

<p>
  <b>Address one:</b>
  <%= @resume.address_one %>
</p>

<p>
  <b>Address two:</b>
  <%= @resume.address_two %>
</p>

<p>
  <b>City:</b>
  <%= @resume.city %>
</p>

<p>
  <b>State:</b>
  <%= @resume.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @resume.zip %>
</p>

<p>
  <b>Skill one:</b>
  <%= @resume.skill_one %>
</p>

<p>
  <b>Skill two:</b>
  <%= @resume.skill_two %>
</p>

<p>
  <b>Skill three:</b>
  <%= @resume.skill_three %>
</p>

<p>
  <b>Skill four:</b>
  <%= @resume.skill_four %>
</p>

<p>
  <b>Skill five:</b>
  <%= @resume.skill_five %>
</p>

<p>
  <b>Skill six:</b>
  <%= @resume.skill_six %>
</p>


<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', resumes_path %>
